{% extends 'chat/room.html' %}

{% block chat_inner %}
    
<div class="wrapper px-2 py-3">
    <h3 class="text-center">List of Contacts</h3>
    <div class="container ">
        <div class="row justify-content-center">
            
            {% for item in user_chats %}
            <div class="card ml-2 mr-2 mt-4" >
                <div class="card-body" style="width: 150px;">
                  <h5 class="card-title">{{ item.other_user.user.name }}</h5>
                  <h6 class="card-subtitle mb-4 mt-3 text-muted"><i class="fa fa-phone"></i> {{ item.other_user.user.phone }}</h6>
                  <a href="{% url 'chat:room' item.chat.id %}" class="card-link"><button class="btn btn-primary">Chat</button></a>
                </div>
            </div>
            {% endfor %}
                



        </div>
    </div>
</div>
{% endblock chat_inner %}