{% extends 'chat/room.html' %}

{% block chat_inner %}
    
<div class="wrapper px-2 py-3">
    <h3 class="text-center">List of Contacts</h3>
    <div class="container ">
        <div class="row justify-content-center">
            
            {% for item in user_chats %}
            <div class="card ml-2 mr-2 mt-4" >
                <div class="card-body" style="width: 150px;">
                  <h5 class="card-title">{{ item.other_user.user.name }}</h5>
                  <h6 class="card-subtitle mb-4 mt-3 text-muted"><i class="fa fa-phone"></i> {{ item.other_user.user.phone }}</h6>
                  <a href="{% url 'chat:room' item.chat.id %}" class="card-link"><button class="btn btn-primary">Chat</button></a>
                </div>
            </div>
            {% endfor %}
                



        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'chat/reconnecting-websocket.min.js' %}"></script>
<script>
    const roomName = 999999;
    const username = {{ username }};
    
    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data['command'] === 'messages') {
            if(data['messages']){
                for (let i=0; i<data['messages'].length; i++) {
                  createMessage(data['messages'][i]);
                }
            }
        } else if (data['command'] === 'new_message'){
          createPrependMessage(data['message']);
        } else if (data['command'] === 'got_chat'){
            document.querySelector('#msg_history').innerHTML='';
            if(data['messages']){
                for (let i=0; i<data['messages'].length; i++) {
                  createMessage(data['messages'][i]);
                }
            }
        } else if (data['command'] == 'New_user_not_found'){
            alert('User with phone not found!')
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


//Handling message to New User 

    document.querySelector('#toMessage').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#toSubmit').click();
        }
    };

    document.querySelector('#toSubmit').onclick = function(e) {
        const messageInputDom = document.querySelector('#toMessage');
        const message = messageInputDom.value;
        const toUser = document.querySelector('#toPhone').value;
        chatSocket.send(JSON.stringify({
            'command': 'to_new_user',
            'message': message,
            'from': username,
            'to': toUser,
        }));
        messageInputDom.value = '';
        document.querySelector('#toPhone').value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'get_messages', 'chatID': roomName }));
    }

    function createPrependMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('div');
      var msgInnerTag = document.createElement('div');
      var pTag = document.createElement('p');
      var spanTag = document.createElement('span');

      pTag.textContent = data.content;
      var dateTime = getDisplayDate(new Date(data.timestamp));
      spanTag.textContent = dateTime.time + ' | ' + dateTime.date;
      spanTag.className= 'time_date';

      if (author === username) {
        msgListTag.className = 'outgoing_msg';
        msgInnerTag.className = 'sent_msg';
      } else {
        msgListTag.className = 'received_msg';
        msgInnerTag.className = 'received_withd_msg';
      }
      msgInnerTag.appendChild(spanTag);
      msgInnerTag.appendChild(pTag);
      msgListTag.appendChild(msgInnerTag);
      $('#msg_history').prepend(msgListTag);
    }

    function createMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('div');
      var msgInnerTag = document.createElement('div');
      var pTag = document.createElement('p');
      var spanTag = document.createElement('span');

      pTag.textContent = data.content;
      var dateTime = getDisplayDate(new Date(data.timestamp));
      spanTag.textContent = dateTime.time + ' | ' + dateTime.date;
      spanTag.className= 'time_date';

      if (author === username) {
        msgListTag.className = 'outgoing_msg';
        msgInnerTag.className = 'sent_msg';
      } else {
        msgListTag.className = 'received_msg';
        msgInnerTag.className = 'received_withd_msg';
      }
      msgInnerTag.appendChild(spanTag);
      msgInnerTag.appendChild(pTag);
      msgListTag.appendChild(msgInnerTag);
      document.querySelector('#msg_history').appendChild(msgListTag);
    }

    function getDisplayDate(date) {
        today = new Date();
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);
        today.setMilliseconds(0);
        compDate = date; 
        diff = compDate.getTime() - today.getTime(); 
        Time = compDate.getHours()+':'+ ((compDate.getMinutes()<10) ? '0'+compDate.getMinutes() : compDate.getMinutes())
        if (diff >= 0) {
            return {
                date: "Today", 
                time: Time
            };
        } else if (diff < 0 && diff >= -(24 * 60 * 60 *1000)) {
            return{
                date: "Yesterday",
                time: Time
            };
        } else { 
            var dd = compDate.getDate();

            var mm = compDate.getMonth()+1; 
            var yyyy = compDate.getFullYear();
            if(dd<10) {
                dd='0'+dd;
            } 

            if(mm<10) {
                mm='0'+mm;
            } 
            return {
                date: dd+'-'+mm+'-'+yyyy,
                time: Time
            }
        }
    }
</script>
{% endblock chat_inner %}